<!DOCTYPE html>
<html>
  <head>
    <title>Search Band</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container h-100 d-flex flex-column justify-content-center">
      <h1 class="text-center text-primary mb-5">Search Your Artist</h1>
      <form action="/search-artist" method="POST">
        <div class="input-group mb-3">
          <input type="text" name="name" class="form-control" placeholder="Enter artist's name">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
